# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/the-3n-1-problem-v1c7or20.iml
.idea/vcs.xml
.idea/workspace.xml
*.bin
*.cmake
*.txt
*.log
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/3.14.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.14.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/feature_tests.c
cmake-build-debug/CMakeFiles/feature_tests.cxx
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/the_3n_1_problem_v1c7or20.dir/build.make
cmake-build-debug/CMakeFiles/the_3n_1_problem_v1c7or20.dir/depend.make
cmake-build-debug/CMakeFiles/the_3n_1_problem_v1c7or20.dir/flags.make
cmake-build-debug/CMakeFiles/the_3n_1_problem_v1c7or20.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/the_3n_1_problem_v1c7or20.dir/objects1.rsp
cmake-build-debug/CMakeFiles/the_3n_1_problem_v1c7or20.dir/progress.make
cmake-build-debug/Makefile
cmake-build-debug/the_3n_1_problem_v1c7or20.cbp
cmake-build-debug/CMakeFiles/the_3n_1_problem_v1c7or20.dir/CXX.includecache
cmake-build-debug/CMakeFiles/the_3n_1_problem_v1c7or20.dir/depend.internal
